name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  actions: read
  packages: write
  attestations: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@40f1582b2485089dde7abd97c1529aa768e1baff
        with:
          go-version: "1.24.13"
      - name: Login to GHCR
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a
        with:
          version: v2.14.0
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Attest Release Artifacts
        uses: actions/attest-build-provenance@e8998f949152b193b063cb0ec769d69d929409be
        if: ${{ !(github.event.repository.private && github.event.repository.owner.type == 'User') }}
        with:
          subject-path: "dist/*"
      - name: Generate SBOM
        uses: anchore/sbom-action@28d71544de8eaf1b958d335707167c5f783590ad
        with:
          path: .
          format: spdx-json
          output-file: sbom.spdx.json
          upload-release-assets: true
      - name: Upload SBOM Artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: release-sbom-spdx
          path: sbom.spdx.json
