name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  actions: read
  packages: write
  attestations: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: "1.24.13"
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Attest Release Artifacts
        uses: actions/attest-build-provenance@v2
        if: ${{ !(github.event.repository.private && github.event.repository.owner.type == 'User') }}
        with:
          subject-path: "dist/*"
      - name: Generate SBOM
        uses: anchore/sbom-action@v0
        with:
          path: .
          format: spdx-json
          output-file: sbom.spdx.json
          upload-release-assets: true
      - name: Upload SBOM Artifact
        uses: actions/upload-artifact@v4
        with:
          name: release-sbom-spdx
          path: sbom.spdx.json
